
#navLinks{
color: black;
}
h1{
    margin-top: 55px;
}

#divt{
    margin-top: 55px;
}
body{
    background-color:#fafafa; 
}
.navbar.scrolled{
    background: ghostwhite;
}

}
#nav2{
    color: white;
}
#nav3{
    color: white;
}
#nav4{
    color: white;
}
#nav5{
    color: white;
}
#nav6{
    color:whitesmoke;
}